<div style="text-align:center" class="app-nested-select-container" (click)="closeSelectBox($event)">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="recursive-select-box-container">
    <div class="select-box-container">
      <div class="select-container" #selectionData>
        <div (click)="openSelectBox()" class="select-box">
          <span *ngIf="selectedFoodId === null">Select Favorite Food</span>
          <div *ngIf="selectedFoodId !== null">
            <div *ngFor="let food of foodList">
              <span *ngIf="selectedFoodId == food.id">{{food.name}}</span>
            </div>
          </div>
          <mat-icon>arrow_drop_down</mat-icon>
        </div>
        <app-nested-select class="{{selection_block}}" [foodList]="foodHierarchyData" [selectedFoodId]="selectedFoodId" (selectedFood)="selectedFood($event)"></app-nested-select>
      </div>
      <button mat-raised-button color="primary" class="food-added-btn" [disabled]="!selectedFoodId" (click)="addedFood(selectedFoodId)">Add</button>
    </div>
  </div><br><br><br>
  <div class="selected-food-container" *ngFor="let selectedFood of selectedFoodList">
    <div *ngFor="let food of foodList">
      <p *ngIf="selectedFood == food.id">{{food.name}}</p>
    </div>
  </div>
</div>

